<body>
<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-sm-4"> </div>
<div class="col-md-4">
  
<h1 class="text-center text-success"> 新規登録</h1>
<br/>

<div class="col-sm-12">
<br/>
      
<%= form_with(model: @user, local: true) do |f| %>

  <div class="form-group">
    <%=f.label :名前 %>
    <%=f.text_field :name, class:"form-control", id:"email"%>
  </div>
  
  <div class="form-group">
    <%=f.label :メールアドレス %>
    <%=f.email_field :name, class:"form-control", id:"email"%>
  </div>

  <div class="form-group">
    <%=f.label :パスワード %>
    <%=f.password_field :name, class:"form-control", id:"pwd"%>
  </div>

  <div class="form-group">
    <%=f.label :パスワード（確認） %>
    <%=f.password_field :name, class:"form-control", id:"pwd"%>
  </div>

  <%= f.submit"登録", class:"btn btn-primary btn-lg mt-1 mb-3 mr-5 " %>
  <button type="submit" class=" float-right btn-link btn d-inline mb-2">パスワードをお忘れの方</button>

<br/>
<a href="#" class="float-right btn btn-block btn-danger" > ログインはこちら  </a>
</div>
<% end %>
</body>