<%= @user.name %>, <%= @user.email %>




  <div class="col-md-8">
    <% if @user.memos.any? %>
      <h3>メモ数： (<%= @user.memos.count %>)</h3>
      
      
        <ol class="microposts">
          <%= render @memos %>
        </ol>
      
      <%= paginate @memos %>
    <% end %>
  </div>