
    <li id="メモ-<%= memo.id %>" class="mt-3 p-1">
      <div class="title"><%= link_to memo.title, memo %></div>
      <span class="content"><%= memo.memo %></span>
      <span class="timestamp">
      <%= time_ago_in_words(memo.created_at) %> 前に投稿
      </span>
      
      <% if current_user?(memo.user) %>
      <%= link_to "削除", memo, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>
    <% end %>
    
    </li>

